*{
    margin: 0;
    padding: 0;
}
.operations{
    background-color: whitesmoke;
     display: flex; 
     justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin: 100px 100px 0px 250px;
    max-width: 900px;
}
.operations_tab-container{
    display: flex;
    gap: 70px;
    justify-content: center;
    
    
}



.operations_tab{
transform: translateY(-50%);
}

.btn{
    padding: 9px;
    border-radius: 50px;
    border-color: white;
    color: black;
    border: none  2px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.operations_tab--1{
    background-color: yellow;
    
}
.operations_tab--2 {
    background-color: rgb(29, 182, 29);
}
.operations_tab--3 {
    background-color: rgb(255, 75, 75);
}
.operations_tab--active {
    transform: translateY(-66%);
}
.content{
    margin-top: 30px;
    /* background-color: blue; */
    max-width: 700px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
.operations_content{
    display: none;
}
.operations_content--active{
    display: block;
}




/* // // btns.forEach(d=>d.addEventListener('click', function el() {
// //     console.log('we are nice');
// // }));
// tabsContainer.addEventListener('click', function (el) {
//     const clicked = el.target.closest('.operations_tab');
//     console.log(clicked);

//      if (!clicked) return;

//     btns.forEach(d => d.classList.remove('operations_tab--active'));
//     clicked.classList.add('operations_tab--active');


//     // activate content area
// contents.forEach(f => f.classList.remove('operations_content--active'));
// document
// .querySelector(`.operations_content--${clicked.dataset.tab}`)
// .classList.add('operations_content--active');
// }); */